
/***全部***/
*,*::before,*::after {
  box-sizing: border-box;
}
.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 12px;
  @include mobile{
    padding: 40px 13px;
  }
}


img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1{
  font-size: 64px;
  font-weight: bold;
  color: $primaryColor;
  @include mobile{
    font-size: 24px;
  }
}
h2{
  font-size: 48px;
  color: $primaryColor;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
  @include mobile{
    font-size: 24px;
    margin-bottom: 24px;
  }
}

h3{
  font-size: 36px;
  color: $primaryColor;
  @include mobile{
    font-size: 16px;
  }
}
h4{
  font-size: 24px;
  color: $primaryColor;
  font-weight: bold;
  text-align: center;
}
h5{
  font-size: 48px;
  color: $secondaryColor;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  background-color: white;
}
p{
  font-size: 16px;
}

/***banner stat***/
.banner{
  background-image:url(/assets/images/home-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mobile{
    background-image:url(/assets/images/home-header-sm.png);
    //這邊高度與設計稿一樣，但圖片內容沒有看到模特兒手的完整圈圈，不知道怎麼調整

  }

  .banner-text{
    text-align: right;
    padding: 216px 0;
    @include mobile{
      padding: 104px 0;
    }
  }
  .btn{
    margin-top:4px;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    background-color: $primaryColor;
    cursor: pointer;
    text-align: center;
    width: 104px;
    @include mobile{
      margin-top: 14px;
    }
  }
}

/***about start***/


//看一下icon要怎麼寫才能有這個大小、需要置中怎麼辦?

.about{
  background-color: $thirdColor;
  .container h2{    
    margin-bottom: 32.33px;
  }
}

.aboutrow{
  display: flex;
  justify-content: space-between;
  @include mobile{
  flex-wrap: wrap;  
  }
  .col-3 .card img{
    display: flex;
    vertical-align: middle;
  }
}

.col-3{
  gap: 24px;
  
}  
.about .container .card{
  width: 25%;
    @include mobile{
      width: 100%;
      flex-wrap: wrap;
    } 
  h4{
    margin-bottom: 8px;
  }; 
}
.about-img{
  width: 100px;
  margin: 0 auto;
  margin-bottom: 16px;
}


/***classicaltype start***/  

.classicaltype-row{
  display: flex;
  justify-content: space-between;
  @include mobile{
  flex-wrap: wrap;  
  }  
}
.classicaltype-card{
  width: 33%;
  @include mobile{
    width: 100%;
    }
  img{
    vertical-align: middle;
  }
}
/***cobranding start***/ 
.cobranding{
  background-image: url("/assets/images/index-bg.png");
  @include mobile{
    background-image: url("/assets/images/index-bg-sm.png");  
    }
  h2{color: white;}
}
.cobranding-row{
  display: flex;
  @include mobile{
  flex-wrap: wrap;  
  }  
}
/***recommend start***/ 
.recommend-row{
  display: flex;
  gap: 24px;
  @include mobile{
  flex-wrap: wrap;  
  } 
  .card{
    width: 25%;
    display: flex;
    flex-direction: column;    
    @include mobile{
      width: 100%;  
      }
  } 
}
.customer{
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px #DEE2E6 solid;
  border-radius: 4px;
  box-shadow: 0 2px 6px #00000029;
}
.date{
  color: #707070;
  font-size: 14px;
}

/***contactus start***/
.contactus{
  background-color: #FBF2F2;
}
.contact-container{
  max-width: 636px;
  margin: 0 auto;
  padding: 80px 0;
  @include mobile{
    padding: 40px 14px;
  }
  p{
  font-size: 20px;
  }
}
.contect-input{
  font-size: 16px;
}
.contact-item{
  padding-bottom: 16px;
  .input-box{
    border: 1px solid #000000;
    opacity: 1;
    &::placeholder{
      opacity: 0.2;
      padding-left: 12px;
      padding-top: 6px;
    }
  }
}

.pb-48{
  padding-bottom: 48px;
  @include mobile{
    padding-bottom: 24px;
    
  }
}
.agreement{
  display: flex;
}
.pt-24{
  padding-top: 24px;
}
.w100{
  width: 100%;
}
.h36{
  height: 36px;
  }
.bgc{
  background-color: $thirdColor;
}
.aifs{
  display: flex;
  align-items: flex-start;
}
.mt8{
  margin-top: 8px;
}
.op-2{
  opacity: 0.2
}
.mr4{
  margin-right: 4px;
}
.agreement .checkbox{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  width: 20px;
  background-color: $thirdColor;
  border: solid 1px black;
  cursor: pointer;
  opacity: 1;  
  &:checked {
    background-color: black;
  }
}



.btn{
  padding: 16px 176px;
  background-color: $secondaryColor;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  @include mobile{
    padding: 16px 142px;
  }
}
.border-0{
  border: 0;
  }