<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MaintaskW3-4_yoishere</title>
  </head>
  <body>
  
    <%- include('./layout/header'); -%>

    <section class="banner">
        <div class="container">
          <div class="banner-text">
            <h3>Promise-Desert 2020 早春系列</h3>
            <h1>看得清，才能看得遠</h1>
            <a href="#" class="btn">立即購買</a>
          </div>
        </div> 
    </section>     
    <section class="about">
      <div class="container">
        <h2>用專業的心，做專業的事</h2>
        <div class="aboutrow col-3">
           <div class="card">
              <div class="about-img"><img src="../assets/images/home-section2-1.png" alt="price"></div>
              <h4>單一價格</h4>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </div>
            <div class="card">
              <div class="about-img"><img src="../assets/images/home-section2-2.png" alt="time"></div>
              <h4>20 分鐘即可取件</h4>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結賬到交件的時間縮減至最快20 分鐘即可完成。</p>
            </div>
            <div class="card">
              <div class="about-img"><img src="../assets/images/home-section2-3.png" alt="aftersale"></div>
              <h4>安心售後服務</h4>
              <p>我們提供長達120 天的保修售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </div>
            <div class="card">
              <div class="about-img"><img src="../assets/images/home-sectioin2-4.png" alt="glasses"></div>
              <h4>關於鏡片</h4>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </div>          
        </div>
      </div>
    </section> 
    <section class="classicaltype">
      <div class="container">
        <h2>經典系列鏡框</h2>
        <div class="classicaltype-row col-3">
          <div class="classicaltype-card">
            <img src="../assets/images/home-section3-1.png" alt="home-section3-1">
            <h5>OPTICAL</h5>
          </div>
          <div class="classicaltype-card">
                <img src="../assets/images/home-section3-2.png" alt="home-section3-2">
                <h5>SUNGLASSES</h5>
          </div>
          <div class="classicaltype-card">
                <img src="../assets/images/home-section3-3.png" alt="home-section3-3">
                <h5>FUNCTIONAL</h5>
          </div>
        </div>
      </div>
    </section>
    <section class="cobranding">
      <div class="container">
        <h2>聯名設計鏡框</h2>
        <div class="cobranding-row">
          <div class="cobranding-card">
            <img src="../assets/images/home-section4-1.png" alt="home-section4-1">
            <h5>DOUBLE A+</h5>
          </div>
          <div class="cobranding-card">
            <img src="../assets/images/home-section4-2.png" alt="home-section4-2">
            <h5>YOUTH</h5>
          </div>
        </div>
      </div>
    </section>
    <section class="recommend">
      <div class="container">
        <h2>顧客推薦</h2>
        <div class="recommend-row">
          <div class="card">
            <img src="../assets/images/home-section5-1.png" alt="home-section5-1">
            <div class="customer">
              <div class="opinion">
                <p>Jessy</p>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
              </div>
              <p class="date">2021/06/20</p>
            </div>
          </div> 
          <div class="card">
            <img src="../assets/images/home-section5-2.png" alt="home-section5-2">
            <div class="customer">
              <div class="opinion">
                <p>凱倫</p>
                <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              </div>
              <p class="date">2021/04/18</p>
            </div>
          </div>        
          <div class="card">
            <img src="../assets/images/home-section5-3.png" alt="home-section5-3">
            <div class="customer">
              <div class="opinion">
                <p>悠悠</p>
                <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次再回購！</p>
              </div>
              <p class="date">2020/12/25</p>
            </div>
          </div>        
          <div class="card">
            <img src="../assets/images/home-section5-4.png" alt="home-section5-4">
            <div class="customer">
              <div class="opinion">
                <p>Kyuan</p>
                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
              </div>
              <p class="date">2020/10/31</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contactus">
      <div class="contact-container">
        <h2>聯絡我們</h2>
        <p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
        <div class="contact-input">
          <div class="contact-item pt-24">
            <label for="name">姓名</label></br>
            <input type="text" id="name" name="name" placeholder="陳小明" class="input-box w100 h36 bgc mt8">
          </div>
          <div class="contact-item">
            <label for="tel">連絡電話</label></br>
            <input  type="tel" id="tel" name="tel" placeholder="0912-345-678" class="input-box w100 h36 bgc mt8">
          </div>
          <div class="contact-item">
            <label for="mail">電子郵件</label></br>
            <input type="mail" id="mail" name="mail" placeholder="example@email.com" class="input-box w100 h36 bgc mt8">          
          </div>
          <div class="contact-item">
            <label for="message">意見反應</label></br>
            <textarea name="message" id="message" rows="8.5" placeholder="請輸入您的意見" class="input-box w100 bgc mt8"></textarea>
          </div>
          <div class="agreement pb-48">            
            <div class="aifs"><input type="checkbox" id="check" name="check" class="checkboxbgc mr4"></div>
            <label for="check">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
          </div>
          <button type="submit"  class="btn border-0">確認送出</button>
        </div>
      </div>
    </section>
  
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
